.navbar {
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0px 1px 3px #00000029;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  font-size: 1.2rem;
  padding: 0;
}

@media screen and (min-width:2560px) {
  .navbar, .scroll {
    left: 50%;
    transform: translateX(-50%);
    max-width: 2000px;
    /* max-width: 100%; */
    width: 100%;
    margin: 0 auto;
    min-width: initial;
    border: solid 1px #12a942;
  }
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 100%;
  justify-content: end;
  align-items: center;
  margin-right: 2rem;
  padding-top: 2rem;
}

.ant-dropdown-menu {
  position: relative;
  margin: 0;
  padding: 4px 0;
  text-align: left;
  list-style-type: none;
  background-color: #fff;
  width: 160px;
  background-clip: padding-box;
  border-radius: 2px;
  outline: none;
  border-radius: 0px 0px 24px 24px;
  /* box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%); */
  box-shadow: 0px 2px 8px #00000029;
}

.nav-links:hover {
  background-color: #6d76f7;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #07478C;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    color: #07478C;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    /* transition: all 0.5s ease; */
  }
  .nav-menu.active {
    border-top: solid 1px #012050; ;
    background-color: #D2EEFF;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    top: 90px;
    padding-bottom: 30px;
    padding-left: 0px;
  }
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    background-color: #7577fa;
    border-radius: 0;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 2;
  }
  .fa-times {
    color: #07478C;
    font-size: 2.4rem;
    /* background:black ; */
    /* margin-left: -.1rem; */
    z-index: 2;
  }
  .nav-links-mobile:hover {
    background: #fff;
    color: #6568F4;
    transition: 250ms;
  }
}